@use '../../../../variables.scss' as *;

.sidebarText {
  color: white !important;
  text-decoration: none;
}
figure {
  width: 100%;
}
figure img {
  width: 100%;
}

.post-title {
  font-size: 18px;
}

.currency-title {
  font-size: 18px;
}

.post-photo:hover {
  outline: solid 5px;
  outline-color: $secondary;
}

input[type='radio'] {
  filter: grayscale(100%) contrast(200%);
}
