<div  class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark h-100">
  <div *ngIf='this.authService.isLoggedIn() == true'>
      <h4  class="h4 text-center">Panel de usuario</h4>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li>
        <a [routerLink]="'/'" [routerLinkActive]="['text-white', 'active']" [routerLinkActiveOptions]="{exact: true}"class="nav-link text-white sidebarText">
          <svg class="bi me-2" width="16" height="16"></svg>
          Home
        </a>
      </li>
      <li>
        <a *ngIf="this.authService.getUserRole()==='Author' && this.authService.isLoggedIn()" [routerLinkActive]="['text-white', 'active']" [routerLink]="'/redactPost'" class="nav-link sidebarText">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
          Redactar noticia
        </a>
      </li>
    </ul>
    <hr>
  </div>
  <div>
    <h4 class="h4 text-center">Más popular</h4>
    <hr>
    <div *ngFor="let post of this.dataService.mostClickedPosts.slice(0, 5);let i=index">

        <figure class="fit-picture ">
          <a class="sidebarText"[routerLink]="['/PostAuthor', post.id]">
            <p class="lead text-center">#{{i+1}} {{post.title}}</p>
          <img  [src]="post.path_img" alt="Image">
        </a>
        </figure>
      <hr>
    </div>


    </div>
  </div>

