<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-primary rounded-2 shadow-lg h-100">
  <div *ngIf='this.authService.isLoggedIn() == true'>
    <h4 class="h4 text-center">Panel de usuario</h4>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li>
        <a [routerLink]="'/'" [routerLinkActive]="['text-white', 'bg-secondary']" [routerLinkActiveOptions]="{exact: true}"
          class="nav-link text-white sidebarText">
          <svg class="bi me-2" width="10" height="16"></svg>
          <fa-icon [icon]="faHouse" ></fa-icon>
          Inicio
        </a>
      </li>
      <li>
        <a *ngIf="(this.authService.getUserRole()==='Author'||this.authService.getUserRole()==='Admin') && this.authService.isLoggedIn()"
          [routerLinkActive]="['text-white', 'bg-secondary']" [routerLink]="'/redactPost'" class="nav-link sidebarText">
          <svg class="bi me-2" width="10" height="16">
            <use xlink:href="#speedometer2"></use>
          </svg>
          <fa-icon [icon]="faPencil" ></fa-icon>
          Redactar noticia
        </a>
      </li>
    </ul>
    <hr>
  </div>
  <div *ngIf="(weatherData?.length!=0)">
    <h4 class="h5 text-center">El tiempo</h4>
    <hr>
    <div class="row">
      <div class="col">
        <div class="d-inline text-start"><img [src]="weatherData?.current.condition.icon"></div>
        <div class="d-inline text-end h5">{{weatherData?.current.temp_c}} </div> °C
      </div>
      <div class="col">
        <div class="text-start lead">{{weatherData?.location.name}}, {{weatherData?.location.country}}</div>
        <a style="color:blue;" class="lead" [routerLink]="'/weatherForecast'">Mas informacion</a>
      </div>
    </div>
    <div class="row">
      <div class="col" style="font-size: 14px;">Ultima actualizacion: {{weatherData?.current.last_updated |slice:11:16}}</div>
    </div>
    <hr>
  </div>
  <div *ngIf="todayPoll.description">
    <h4 class="h4 text-center" >Encuesta del día</h4>
    <hr>
    <h6 class="h6">{{todayPoll.description}}</h6>
    <form [formGroup]="pollRadioForm">
      <div *ngFor="let poll_value of todayPoll.poll_values" class="lead form-check">
        <input type="radio" class="me-2 form-check-input" [id]="poll_value.description" formControlName="poll_values" name="poll_values" [value]="poll_value.id"  (change)="votePoll()" *ngIf="this.authService.loggedUser"/>
          <div class=" rounded d-flex" >
            <label class="fs-6 m-1"[for]="poll_value.description">{{poll_value.description}}</label>
            <div class="ms-auto"style="width:35%">
              <div class="bg-success rounded" [ngStyle]="{'width': (poll_value.votesByUsers/todayPoll.totalVotes)*100 + '%'}"><label class="fs-6 m-1">{{((poll_value.votesByUsers/todayPoll.totalVotes)*100)| number:'1.0-0'}}%</label>
              </div>
            </div>
          </div>
      </div>
    </form>
    <hr>
  </div>


  <div>
    <h5 class="h5 text-center">Más popular 🔥</h5>
    <hr>
    <div *ngFor="let post of this.mostClickedPosts;let i=index">
      <figure class="fit-picture ">
        <a class="sidebarText" [routerLink]="['/PostAuthor', post.id]">
          <p class="lead post-title text-center">#{{i+1}} - {{post.title}}</p>
          <img class="post-photo rounded" [src]="post.path_img" alt="Image">
        </a>
      </figure>
      <hr>
    </div>


  </div>
</div>
