<div class="row my-3 px-3 py-4 shadow-lg rounded-3">
  <div class="col-12 col-sm-6">
    <img [src]="postDetails?.path_img" alt="">
  </div>
  <div class="col-12 col-sm-6 d-flex flex-column justify-content-between">
    <div class="row mb-3">
      <h6 class="fst-italic mt-2">{{postDetails?.category.name}}</h6>
      <h1>{{postDetails?.title}}</h1>
      <div class="mb-5">
        <h6 class="d-inline">Author: </h6>
        <p class="d-inline">{{postDetails?.user.name+" "+postDetails?.user.surname}}</p>
      </div>
      <p>{{postDetails?.body}}</p>
    </div>
    <div class="row">
      <div class="col-12 col-sm-7 mb-2 mb-sm-0">
        <button routerLink="/" class="btn btn-primary w-100">Go back</button>
      </div>
      <div class="col-12 col-sm-5" *ngIf="this.authService.getUserRole()==='Author' && this.authService.isLoggedIn()">
        <button (click)="onClickDeleteButton()" class="btn btn-danger w-100">Delete</button>
      </div>
    </div>
  </div>
</div>
