    <div class="blog-post">
      <div class="blog-post-img">
        <img src="../../../assets/NJ4HQ35BTZEVTOLYTYJIJIWRPM.webp" alt="">
      </div>
      <div class="blog-post-info">
        <div class="blog-post-date">
          <span>Sunday</span>
          <br>
          <span>October 25 2022</span>
        </div>
        <h1 class="blog-post-title">{{postAuthor.title}}</h1>
        <p class="blog-post-text">{{postAuthor.body}}} Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate culpa, expedita voluptas autem sunt maiores quam dolore dolorem accusamus ex facilis, sed nesciunt voluptatum amet ipsa rerum et molestiae vero!</p>
        <h1 class="blog-post-title">Author:</h1>
        <p class="blog-post-text">{{postAuthor.user.name+" "+postAuthor.user.surname}}}</p>
        <a href="#" [routerLink]="'/'">Go back to the home page</a>
      </div>
    </div>
