<body class="text-center mt-5">
  <main class="form-signin m-auto">
    <form [formGroup]="loginForm"(ngSubmit)="onSubmit()">
      <fa-icon [icon]="faArrowRightToBracket" size="4x"></fa-icon>
      <h1 class="display-5">Iniciar sesión</h1>

      <div class="form-floating">
        <input type="text" formControlName="usernameControl" class="form-control" name="username" id="username" placeholder="Username">
        <label for="floatingInput">Nombre de usuario</label>
      </div>
      <div class="form-floating">
        <input type="password" formControlName="passwordControl" class="form-control" name="password" id="password" placeholder="Password">
        <label for="floatingPassword">Contraseña</label>
      </div>
      <button class="w-100 btn btn-lg btn-primary" [disabled]="!loginForm.valid" type="submit">Iniciar sesión</button>
    </form>
  </main>
  </body>
