<div class="container my-5">
  <div class="row d-flex justify-content-center">
    <div class="col-12 col-sm-6 shadow-lg rounded-3 py-4 px-5">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="text-center mb-4">
          <fa-icon [icon]="faArrowRightToBracket" size="4x"></fa-icon>
          <h1 class="display-6">Iniciar sesión</h1>
        </div>
        <div class="form-group">
          <label for="username" class="form-label fw-bold">Nombre de usuario</label>
          <input class="form-control" type="text" formControlName="usernameControl" name="username" id="username"
            placeholder="Usuario">
        </div>
        <div class="form-group">
          <label for="password" class="form-label fw-bold">Contraseña</label>
          <input type="password" formControlName="passwordControl" class="form-control" name="password" id="password"
            placeholder="Contraseña">
        </div>
        <button class="w-100 btn btn-lg btn-primary text-white" [disabled]="!loginForm.valid" type="submit">Iniciar sesión</button>
      </form>
    </div>
  </div>
</div>
