<app-navbar></app-navbar>
<div id="wrap" class="pt-4">
  <div class="row">
    <div class="row border text-center">
      <p class="mt-3">TODO DOLLAR</p>
    </div>
    <div class="row">
      <div class="col-3 py-3 d-none d-lg-block">
        <app-sidebar></app-sidebar>
      </div>
      <div class="col-12 col-lg-9">
        <router-outlet (activate)="refreshMostClicked()"></router-outlet>
      </div>
    </div>
    <div class="push"></div>
  </div>
</div>
<div class="footer">
  <app-footer></app-footer>
</div>
