#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -200px; /* Bottom value must = footer height */
  margin-right: 4vw;
  margin-left: 4vw;
}
.push {
  width: 100%;
  height: 200px;
  position: relative;
  bottom: 0;
}

.footer {
  width: 100%;
  height: 200px;
  position: relative;
  bottom: 0;
}
