@use '../../../variables.scss' as *;

img{
  width: 100%;
}

.blog-post{
  width: 100%;
  max-width: 98rem;
  padding: 5rem;
  background-color: #fff;
  box-shadow: 0 1.4rem 8rem  rgba(0,0,0,.2);
  display: flex;
  align-items: center;
  border-radius: .8rem;
}

.blog-post-img{
  min-width: 35rem;
  max-width: 35rem;
  height: 30rem;
  transform: translateX(-2rem);
  position: relative;
}

.blog-post-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: .8rem;
}

.text-pill {
  color: white;
  font-weight: 400;
  font-size: 14px;
}
