<div class="card w-100">
  <img [src]="post.path_img" class="card-img-top">
  <div class="card-body px-4">
    <h4 class="card-title">{{post.title}}</h4>
    <p class="card-text">{{post.body}}
    </p>
    <div class="row">
      <div class="col ">
        <button [routerLink]="['/PostAuthor', post.id]" class="btn btn-primary ">Leer más</button>
      </div>
      <div class="col">
        <h6 class="card-title float-end fst-italic mt-2">{{post.category.name}}</h6>
      </div>
    </div>
  </div>
</div>
