<div class="card w-100 shadow">
  <img [src]="post.path_img" class="card-img-top">
  <div class="card-body px-4">
    <h4 class="card-title">{{post.title}}</h4>
    <p class="card-text">{{post.body}}
    </p>
    <div class="row">
      <div class="col ">
        <button [routerLink]="['/PostAuthor', post.id]" class="btn btn-primary ">Leer más</button>
      </div>
      <div class="col d-flex flex-col justify-content-end align-items-end">
          <span class="d-block badge bg-info text-pill">{{post.category.name}}</span>
      </div>
    </div>
  </div>
</div>
