<!-- Footer -->
<footer class="bg-primary text-center text-white footer">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/todonoticias/" role="button">
        <fa-icon [icon]="faFacebook" size="2x"></fa-icon>
      </a>
      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/todonoticias?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" role="button">
        <fa-icon [icon]="faTwitter" size="2x"></fa-icon>
      </a>

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/todonoticias/?hl=en" role="button">
        <fa-icon [icon]="faInstagram" size="2x"></fa-icon>
      </a>

      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/juan-barrientos-b4a4b5238/" role="button">
        <fa-icon [icon]="faLinkedin" size="2x"></fa-icon>
      </a>

      <!-- Github -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/Juan-Pablo-Barrientos/tp-frontend" role="button">
        <fa-icon [icon]="faGithub" size="2x"></fa-icon>
      </a>
    </section>
    <!-- Section: Social media -->

    <!-- Section: Text -->
    <section class="mb-4">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt distinctio earum
        repellat quaerat voluptatibus placeat nam, commodi optio pariatur est quia magnam
        eum harum corrupti dicta, aliquam sequi voluptate quas.
      </p>
    </section>
    <!-- Section: Text -->

    <!-- Section: Links -->

    <!-- Section: Links -->
  </div>
  <!-- Grid container -->
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright:
    <a class="text-white">TTADS</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
