<div class="container-fluid shadow ">
  <div class="border border-danger ">
    <div class="row text-center border-danger mx-auto" >
      <div class="col border-end border-bottom border-dark dollar">
        <p class="m-1 currency-title fst-italic">Dólar oficial compra</p>
        <div class="currency-item fw-bolder">${{legalDollar?.value_buy}}</div>
      </div>
      <div class="col border-end border-bottom border-dark dollar">
        <p class="m-1 currency-title fst-italic">Dólar oficial venta</p>
        <div class="currency-item fw-bolder">${{legalDollar?.value_sell}}</div>
      </div>
      <div class="col border-end border-bottom border-dark dollar">
        <p class="m-1 currency-title fst-italic">Dólar blue compra</p>
        <div class="currency-item fw-bolder">${{illegalDollar?.value_buy}}</div>
      </div>
      <div class="col border-end border-bottom border-dark dollar">
        <p class="m-1 currency-title fst-italic">Dólar blue venta</p>
        <div class="currency-item fw-bolder">${{illegalDollar?.value_sell}}</div>
      </div>
      <div class="col border-end border-bottom border-dark euro">
        <p class="m-1 currency-title fst-italic">Euro oficial compra</p>
        <p class="currency-item fw-bolder">${{legalEuro?.value_buy}}</p>
      </div>
      <div class="col border-end border-bottom border-dark euro">
        <p class="m-1 currency-title fst-italic">Euro oficial venta</p>
        <p class="currency-item fw-bolder">${{legalEuro?.value_sell}}</p>
      </div>
      <div class="col border-end border-bottom border-dark euro">
        <p class="m-1 currency-title fst-italic">Euro blue compra</p>
        <p class="currency-item fw-bolder">${{illegalEuro?.value_buy}}</p>
      </div>
      <div class="col border-end border-bottom border-dark euro">
        <p class="m-1 currency-title fst-italic">Euro blue venta</p>
        <p class="currency-item fw-bolder">${{illegalEuro?.value_sell}}</p>
      </div>
    </div>
  </div>
</div>
