<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Newspaper</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/home'" routerLinkActive="text-white" href="#">Inicio</a>
        </li>
        <li class="nav-item" *ngIf='this.authService.isLoggedIn() == false'>
          <a class="nav-link" [routerLink]="'/login'" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" routerLinkActive="text-white" >Iniciar sesión</a>
        </li>
        <li class="nav-item" *ngIf='this.authService.isLoggedIn() == false'>
          <a class="nav-link" [routerLink]="'/register'" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" routerLinkActive="text-white" >Registrarse</a>
        </li>
        <li class="nav-item dropdown" *ngIf='this.authService.isLoggedIn() == true'>
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Usuario
          </a>
          <ul class="dropdown-menu"  aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" href="#"  >Perfil</a></li>
            <li><a class="dropdown-item" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" href="#"  >Test</a></li>
            <li><a class="dropdown-item" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" href="#" (click)="logOut()">Salir</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" name="searchbar" id="searchbar"
          [(ngModel)]="title" (keyup)="inputChange()">
        <button (click)="search()" class="btn btn-outline-success" type="submit">Search </button>
      </form>
    </div>
  </div>
</nav>


