<nav class="navbar navbar-expand-lg navbar-primary bg-primary nav-shadow">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="#">Fake News</a>
    <button class="navbar-toggler navbar-dark" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link ps-3 ps-lg-2 text-white" [routerLink]="'/'" routerLinkActive="bg-secondary rounded-3" [routerLinkActiveOptions]="{exact: true}">Inicio</a>
        </li>
        <li class="nav-item" *ngIf='this.authService.isLoggedIn() == false'>
          <a class="nav-link ps-3 ps-lg-2 text-white" [routerLink]="'/login'" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show"
            routerLinkActive="bg-secondary rounded-3">Iniciar sesión</a>
        </li>
        <li class="nav-item" *ngIf='this.authService.isLoggedIn() == false'>
          <a class="nav-link ps-3 ps-lg-2 text-white" [routerLink]="'/register'" data-bs-toggle="collapse"
            data-bs-target=".navbar-collapse.show" routerLinkActive="bg-secondary rounded-3">Registrarse</a>
        </li>
        <li class="nav-item dropdown" *ngIf='this.authService.isLoggedIn() == true'>
          <a class="nav-link ps-3 ps-lg-2 dropdown-toggle text-white" href="#" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show"
            role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Usuario
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show"
              href="#" [routerLink]="['/user', this.authService.loggedUser?.id]" >Perfil</a></li>
            <li><a class="dropdown-item" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" href="#"
                (click)="logOut()">Salir</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown" *ngIf="this.authService.getUserRole() === 'Admin'">
          <a class="nav-link ps-3 ps-lg-2 dropdown-toggle text-white" href="#" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show"
            role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Panel de administrador
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show"
              href="#" [routerLink]="'/userList'" >Listado de usuarios</a></li>
            <li><a class="dropdown-item" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show"
              href="#" [routerLink]="'/provinceList'" >Listado de provincias</a></li>
            <li><a class="dropdown-item" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show"
              href="#" [routerLink]="'/categoryList'" >Listado de categorías</a></li>
              <li><a class="dropdown-item" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show"
                href="#" [routerLink]="'/pollList'" >Listado de encuestas</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown d-lg-none">
          <a class="nav-link ps-3 ps-lg-2 text-white dropdown-toggle" href="#" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show"
            role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Más populares 🔥
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li *ngFor="let post of this.mostClickedPosts;let i=index">
              <a class="dropdown-item" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show"
                [routerLink]="['/PostAuthor', post.id]">#{{i+1}} - {{post.title}}</a>
            </li>
          </ul>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Buscar noticia" name="searchbar" id="searchbar"
          [(ngModel)]="title" (keyup)="inputChange()">
        <button (click)="search()" class="btn btn-secondary" type="submit">Buscar</button>
      </form>
    </div>
  </div>
</nav>
