<div class="container mt-5">
  <div class="m-2"><h1 class="display-1 text-center">Listado de escuestas</h1></div>
  <hr class="bg-secondary border-2 border-top border-secondary">
  <div class="text-center">
    <button type="button" (click)="openCreate(modalCreate)" class="btn-success btn btn-lg mt-2">
      Nueva encuesta
    </button>
  </div>
  <div class="form-floating mt-3">
    <input type="text" name="searchPoll" id="searchPoll" placeholder="Nombre" (keyup)="searchPoll()" class="form-control"/>
    <label for="name">Buscar por descripcion</label>
  </div>
  <table class="table align-middle mb-0 bg-white mt-5" id="pollList">
    <thead class="bg-light">
      <tr>
        <th>Descripcion</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>



      <tr *ngFor="let poll of polls">
        <td>
          <div class="d-flex align-items-center">
            <div class="ms-3">
              <p class="fw-bold mb-1">{{poll.description}}</p>
            </div>
          </div>
        </td>
        <td>

          <button type="button" (click)="openShow(modalShow)" class="btn btn-primary btn-sm btn-rounded m-1">
            <fa-icon [icon]="faEye"></fa-icon>
          </button>
          <button type="button" (click)="openEdit(modalEdit, poll.id)" class="btn btn-success btn-sm btn-rounded m-1">
            <fa-icon [icon]="faPencil"></fa-icon>
          </button>
          <button type="button" (click)="openDelete(modalDelete)" class="btn btn-danger btn-sm btn-rounded m-1">
            <fa-icon [icon]="faTrash"></fa-icon>
          </button>
        </td>

        <!--Modal show-->

        <ng-template #modalShow let-modal>
          <div class="modal-header">
            <h4 class="modal-title" id="modalShow">Encuesta: {{poll.description}}</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
          </div>
          <div class="modal-body lead">
              <div class="mb-3">
                <label for="">Id: {{poll.id}}</label>
              </div>
              <div class="mb-3">
                <label for="">Descripción: {{poll.description}}</label>
              </div>
              <div class="mb-3">
                <label for="">Categoría: {{poll.category.name}}</label>
              </div>
              <div class="mb-3">
                <label for="">Fecha: {{poll.pollDate}}</label>
              </div>
              <div class="mb-3">
                <label for="">Opcion 1: {{poll.poll_values[0].description}}</label>
              </div>
              <div class="mb-3">
                <label for="">Opcion 2: {{poll.poll_values[1].description}}</label>
              </div>
              <div class="mb-3" *ngIf="poll.poll_values[2]">
                <label for="">Opcion 3: {{poll.poll_values[2].description}}</label>
              </div>
              <div class="mb-3" *ngIf="poll.poll_values[3]">
                <label for="">Opcion 4: {{poll.poll_values[3].description}}</label>
              </div>
              <div class="mb-3" *ngIf="poll.poll_values[4]">
                <label for="">Opcion 5: {{poll.poll_values[4].description}}</label>
              </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" (click)="modal.close('Close click')">Cerrar</button>
          </div>
        </ng-template>



        <!--Modal delete-->

        <ng-template #modalDelete let-modal>
          <div class="modal-header">
            <h4 class="modal-title" id="modalDelete">Borrar encuesta</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
          </div>
          <div class="modal-body lead">
            <form>
              <div class="mb-3">
                <label for="dateOfBirth">Está seguro de que quiere borrar la encuesta {{poll.description}}</label>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" (click)="deletePoll(poll.id);modal.close('Confirm click')">Sí</button>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="modal.close('Close click')">Cancelar</button>
          </div>
        </ng-template>
      </tr>
    </tbody>
  </table>
  </div>

  <!--Modal edit-->

  <ng-template #modalEdit let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modalEdit">Editar</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <form [formGroup]="editPollForm" (ngSubmit)="onSubmitEdit()">
        <div class="form-floating mb-2">
          <input type="text" value="" class="form-control" formControlName="idControl" name="id" id="id" placeholder="id">
          <label for="id">Id</label>
        </div>

        <div class="form-floating mb-2">
          <input type="text" value="" class="form-control" formControlName="descriptionEditControl" name="description" id="description" placeholder="Descripción">
          <label for="name">Descripción</label>
        </div>

        <div class="form-control mb-2">
          <label class="me-2 mb-2"for="day">Fecha </label>
          <input type="date" formControlName="dateEditControl" id="date" name="date" [min]="minDate" (change)="onDateChange()" [max]="maxDate">
        </div>

        <div class="form-group mb-2">
          <label class="form-label fw-bold" for="category">Categoría</label>
          <select class="form-select mb-2" formControlName="categoryEditControl" name="category" id="category"
            aria-label="Default select example">
            <option value='' selected>Seleccione categoría</option>
            <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
          </select>
          <div
            *ngIf="editPollForm.controls.categoryEditControl.touched && editPollForm.controls.categoryEditControl.invalid"
            class="mt-2 error-label">
            <span *ngIf="editPollForm.controls.categoryEditControl.errors.required">Categoría requerida.</span>
          </div>
        </div>
        <label class="form-label fw-bold">Opciones</label>
        <div class="form-floating mb-2">
          <input type="text" formControlName="option1EditControl" name="option1" id="option1" placeholder="Opcion 1" class="form-control"/>
          <label for="name">Opcion 1 (Requerida)</label>
        </div>

        <div class="form-floating mb-2">
          <input type="text" formControlName="option2EditControl" name="option2" id="option2" placeholder="Opcion 2" class="form-control"/>
          <label for="name">Opcion 2 (Requerida)</label>
        </div>

        <div class="form-floating mb-2">
          <input type="text" formControlName="option3EditControl" name="option3" id="option3" placeholder="Opcion 3" class="form-control"/>
          <label for="name">Opcion 3 (Opcional)</label>
        </div>

        <div class="form-floating mb-2">
          <input type="text" formControlName="option4EditControl" name="option4" id="option4" placeholder="Opcion 4" class="form-control"/>
          <label for="name">Opcion 4 (Opcional)</label>
        </div>

        <div class="form-floating mb-2">
          <input type="text" formControlName="option5EditControl" name="option5" id="option5" placeholder="Opcion 5" class="form-control"/>
          <label for="name">Opcion 5 (Opcional)</label>
        </div>

          <button type="submit" [disabled]="!editPollForm.valid" class="btn btn-primary float-end m-2">Enviar</button>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cerrar</button>
    </div>
  </ng-template>

  <!--Modal create-->

  <ng-template #modalCreate let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modalCreate">Crear encuesta</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <form [formGroup]="createPollForm" (ngSubmit)="onSubmit()">

        <div class="form-floating mb-2">
          <input type="text" formControlName="descriptionControl" name="description" id="description" placeholder="descripción" class="form-control"/>
          <label for="name">Descripción</label>
        </div>
        <div class="form-control mb-2">
          <label class="me-2 mb-2"for="day">Fecha </label>
          <input type="date" formControlName="dateControl" id="date" name="date" [min]="minDate" (change)="onDateChange()" [max]="maxDate">
        </div>

        <div class="form-group mb-2">
          <label class="form-label fw-bold" for="category">Categoría</label>
          <select class="form-select mb-2" formControlName="categoryControl" name="category" id="category"
            aria-label="Default select example">
            <option value='' selected>Seleccione categoría</option>
            <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
          </select>
          <div
            *ngIf="createPollForm.controls.categoryControl.touched && createPollForm.controls.categoryControl.invalid"
            class="mt-2 error-label">
            <span *ngIf="createPollForm.controls.categoryControl.errors.required">Categoría requerida.</span>
          </div>
        </div>
        <label class="form-label fw-bold">Opciones</label>
        <div class="form-floating mb-2">
          <input type="text" formControlName="option1Control" name="option1" id="option1" placeholder="Opcion 1" class="form-control"/>
          <label for="name">Opcion 1 (Requerida)</label>
        </div>

        <div class="form-floating mb-2">
          <input type="text" formControlName="option2Control" name="option2" id="option2" placeholder="Opcion 2" class="form-control"/>
          <label for="name">Opcion 2 (Requerida)</label>
        </div>

        <div class="form-floating mb-2">
          <input type="text" formControlName="option3Control" name="option3" id="option3" placeholder="Opcion 3" class="form-control"/>
          <label for="name">Opcion 3 (Opcional)</label>
        </div>

        <div class="form-floating mb-2">
          <input type="text" formControlName="option4Control" name="option4" id="option4" placeholder="Opcion 4" class="form-control"/>
          <label for="name">Opcion 4 (Opcional)</label>
        </div>

        <div class="form-floating mb-2">
          <input type="text" formControlName="option5Control" name="option5" id="option5" placeholder="Opcion 5" class="form-control"/>
          <label for="name">Opcion 5 (Opcional)</label>
        </div>

        <button type="button"(click)="resetCreate()"  class="btn btn-secondary m-2">Limpiar campos</button>

        <button type="submit" [disabled]="!createPollForm.valid" class="btn btn-primary float-end m-2">Guardar</button>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cerrar</button>
    </div>
  </ng-template>
